.favorite{
	display: grid;
	grid-template-columns: 60% 40%;
	border: solid black;
	background-color: #8D99AE;
	border-radius: 24px;
}


.favoriteName{
    /* border: solid brown; */
    display: grid;
    /* margin-top: 10px; */
	align-self: center;
	justify-content: center;
    /* background-color: cadetblue; */
    grid-template-columns: 78% 10% 10%;
    column-gap: 5px;
	border-radius: 10px;
	font-size: 25px;
	
}

.favoriteButton{
	display: grid;
	grid-template-columns: 10% 10%;
	justify-self: center;
}


.myButton2 {
	box-shadow: 6px 10px 14px 0px #276873;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	margin-top: 15px;
	margin-right: 10px;

  padding:10px 10px 10px 10px;
  justify-self: center;
  align-self: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton2:active {
	position:relative;
	top:1px;
}